/* your custom css */

.blockContent a, article a, article a:hover {color: #1A90A2;}

.homeContainer .signup { margin-top: 1em; }

.homeContainer .signup a {color: #1A90A2; }

.container.paddingTop {
  padding-top: 0;
}

.nav-site a { font-weight: 500 !important;  }

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

summary {
	width: 125px;
	cursor: pointer;
}

details :focus {
    outline: none;
}

.vote_btn {
	border: 1px solid #053D4A;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 10px;
    padding: 8px;
    text-decoration: none !important;
    transition: background 0.3s, color 0.3s;
}
